# Avoid pushing datasets to remote (6GB is a lot)
.venv/
*.parquet
__pycache__

# avoid pushing jupyter checkpoints
.ipynb_checkpoints

# log files
*.log

# avoid pushing processed segments cached
data/graph_dataset_*/
data/extracted_features/
data/labels/
.vscode/

data/timeseries_dataset_test_features
data/timeseries_dataset_test_signal
data/timeseries_dataset_train_features
data/timeseries_dataset_train_signal