# requirements for SCITAS cluster virtual environment
numpy
pandas
matplotlib
tqdm
torch
torch-geometric # for Graph Neural Networks
seaborn
seiz-eeg
torchmetrics
jupyter # additional dependency to run jupyter notebooks
